.map {
  height: 600px;
  background-color: #b5d0d0;
}

.map-frame {
  padding-top: 14px;
}

.ol-zoom {
  left: unset;
  right: 8px;
 }

.layer-switcher {
  position: absolute;
  top: 1.0em;
  right: unset;
  left: 0.5em;
  text-align: left;
}
