<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Explore Western Wild Australia :)</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <%= render partial: 'map/map' %>
    </div>
    <div class="col-md-6 col-sm-12">
      Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, bibendum egestas augue arcu ut est. Paisis, filhis, espiritis santis. Quem num gosta di mim que vai caçá sua turmis! Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.

Copo furadis é disculpa de bebadis, arcu quam euismod magna. Quem manda na minha terra sou euzis! Detraxit consequat et quo num tendi nada. Aenean aliquam molestie leo, vitae iaculis nisl.

Casamentiss faiz malandris se pirulitá. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Si num tem leite então bota uma pinga aí cumpadi! Interagi no mé, cursus quis, vehicula ac nisi.
    </div>
  </div>
</div>
