<%= stylesheet_link_tag 'map/map' %>
<div id="map" class="map"></div>
<div class="">
  Map Icons designed by <a href="http://www.flaticon.com/authors/scott-de-jonge">Scott de Jonge</a> from <a href="http://www.flaticon.com">Flaticon</a>
</div>
